.card-img-top{
    width: 200px;
    height: auto;
    margin: auto;
}
.card{
    width: 250px;
    height: auto;
}
.font-bold {
    font-weight: bold;
}
.btn {
    margin: 3px;
}
.active {
    background-color: rgb(39, 153, 202);
    color: white;
  }